
body{
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#rules {
    font-size: 30px;
    text-align: center;
}

#questions{
text-align: center;
font-size: 40px;
position: relative;
display: none;
}

#answerA, #answerB, #answerC, #answerD{
    display: none;
    position: absolute;
    margin-top: 50px;
    margin-left: 550px;
    text-align: center;
    font-size: 20px; 
    align-items: center;
}

#startContainer{
    text-align: center;
    margin-top: 50px;
    margin-left: 600px;
    margin-right: 600px;
    border: red dashed 5px;
    }

#gamestats{
    margin-left: 25px;
    border: rgb(189, 17, 31) dashed 5px;
    width: 250px;
    text-align: center;
    display: felx;
    font-size: 30px;
    display: none;
    }

#countdown {
    background-color: white;
    font-size: 20px;
    color: black;
    width: 100px;
    height: 30px;
    text-align: center;
    margin-left: 30px;;
    border: solid black 5px;
}

